<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Image website</strong> by <a href="https://github.com/sandeepnukala1">Sandeep Nukala</a>.
    </p>
  </div>
</footer>