<header class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      Imagelover
    </p>
    <p class="subtitle">
      Where we save our favorite images and memories
    </p>
  </div>
</header>
